/********************************************************************* GENERAL */

.debug{
  border: 1px solid rgba(255, 0, 0, 0.5);
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

/* ****************************************************************** HEADER */

header{
  height: 70px;
  background-color: #f8f9fa;
}

.my_container{
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: aqua;
}

/********************************************************* LOGO */

.logo-mobile{
  height: 50px;
}

.logo-big{
  height: 30px;
  margin-left: 10px;
}

/* ***************************************************** HEADER_RIGHT */

.header_right a{
  color:#5b5858;
}

.btn-bell{
  color: #ff8f00;
}


/* ******************************************************************** MAIN */

main{
  margin-top: 70px;
  height:calc(100vh - 70px);
}

/* ******************************************************MAIN_LEFT */

.main_left{
  height: 100%;
  width: 70px;
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
}

.main_left a{
  color: white;
}

.left-top{
  width: 100%;
}

.left-bot{
  width: 100%;
}

.my_btn{
  background-color: transparent;
}

.my_btn:hover{
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
}

/* *****************************************************MAIN_RIGHT */

.main_right{
  width: calc(100% - 70px);
  overflow-y: auto;
}

/***************************************************************** RESPONSIVE */

@media screen and (min-width:992px){
  .main_left{
    width: 150px;
  }

  .main_right{
    width: calc(100% - 150px);
  }
}