/********************************************************************* GENERAL */

.debug{
  border: 1px solid rgba(255, 0, 0, 0.5);
}

/* ****************************************************************** HEADER */

header{
  height: 70px;
}

/* ******************************************************************** MAIN */

main{
  margin-top: 70px;
}

/* ******************************************************MAIN_LEFT */

.main_left{
  width: 150px;
}

/* *****************************************************MAIN_RIGHT */

.main_right{
  width: calc(100% - 150px);
  overflow-y: auto;
}